<h1 class="cover-heading">Choose the best chef</h1>
<p class="lead">Welcome to the page to choose the best chef.</p>

<% if current_user.respond_to?(:admin) && current_user.admin? %>
<p class="lead">
  <a href="/resultados" class="btn btn-lg btn-default">Results</a>
</p>
<p class="lead">
  <a href="/admin" class="btn btn-lg btn-default">Admin</a>
</p>
<p class="lead">
  <a href="/borrar_votos" class="btn btn-lg btn-default"  onclick="return confirm('Are you sure you want to delete all the votes?');">Delete all the votes</a>
</p>
<p class="lead">
<%= link_to('Logout as admin', destroy_user_session_path, :method => :delete) %>
</p>
<% else %>
<p class="lead">
  <a href="/votar" class="btn btn-lg btn-default">Vote</a></p>
<% end %>
