<p>Muy buenas <%= @resource.email %>!</p>

<p>Te escribimos desde Tuaneschef, una aplicación para votar en un concurso.
  Alguien ha pedido un enlace para cambiar la contraseña. Puedes hacerlo pinchando en el siguiente enlace.</p>

<p><%= link_to 'Cambiar la contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no fuiste tú, por favor ignora el mensaje.</p>
<p>Tu contraseña no cambiara hasta que no pinches en el enlace anterior y escogas una nueva.</p>
