<p>Hi <%= @resource.email %>!</p>

<p>We write from Tuaneschef, an app to vote in a poll.
  Somebody has asked to change your password. You can do it clicking in the following
  link.</p>

<p><%= link_to 'Change the password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If it wasn't you, please ignore this message.</p>
<p>Your password won't change until you click in the previous link and choose your new password.</p>
